.login_box{
  
    width: 288.45px;
    height: 570.59px;

}
.img_box{
  display: flex;
    height: 37px;
    margin: 0px 0px 24px;

}

.content{
    padding: 0px 16px;
    display : flex;
    justify-content: center;
    align-items : center;
    height: 100vh;
    flex-direction: column;
    background-color: rgb(241, 242, 243);
    
}
.social{
    margin : -4px 0px 16px;
    display: flex;
    flex-direction: column;
    
}
.stack_logo{
    width: 32px;
    height: 37px;
}
.icon_box{
  display: flex;
  justify-content: center;
  margin: 0px 0px 24px;
}
.form_container{
  background-color: white;
  border-radius: 7px;
  margin: 0px 0px 24px;
  padding: 24px;
}
.login-form{
  margin:-6px 0px ;
  display: flex;
  justify-content: space-between;
  
}
.bodyh1{
  margin: 0px 0px 32px;
  font-size :27px ;
  font-weight: 500;
  color: #232629;
}

