nav {
  height: 21rem;
  background-color: #232629;
  display: flex;
  flex-wrap: wrap;
}

.logo {
  padding: 1.5rem 1rem 0 7rem;
}

.col {
  margin: 1rem;
  min-width: 160px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row h5 {
  color: #babfc4;
  text-transform: uppercase;
}

.row a {
  color: #9fa6ad;
  text-decoration: none;
  font-size: 14px;
}

.row ul {
  padding: 0;
}

.row li {
  list-style: none;
  padding: 0;
  padding-bottom: 0.4rem;
}

.row-right {
  margin-top: 0.8rem;
  width: 25rem;
  display: flex;
  flex-direction: column;
  font-size: 11px;
}

.row-right a {
  font-size: 12px;
}

.row-right p {
  color: #9fa6ad;
  margin: 13rem 0 5rem 0;
}
